@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body{
    color: white;
    font-family: poppinsregular;
    font-size: large;
    font-weight: 600;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    background-image: url("../components/images/fundoprin.png");
    background-size: 100%;
    background-position: absolute;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 18px;
    color: rgb(162, 162, 235);
}

a{
    color: rgb(16, 6, 160);
    border-color: rgb(162, 162, 235);
}

a:hover{
    color: rgb(16, 6, 160);
    transition: 0.3s all;
}

#acesso{
    border: 2px solid rgb(16, 6, 160);
    padding: 10px;
    border-radius: 15px;
}

#acesso:hover{
    background-color: rgb(16, 6, 160);
    color: rgb(98, 11, 170);
}

h2{
    font-weight: 200;
    color: rgb(162, 162, 235);
    font-size: xx-large;
}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
    
}

.bloco{
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px
}

.admin-container {
    max-width: 900px;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 40px;
}

.menu-options {
    display: flex;
    justify-content: space-between;
}

.option {
    background-color: #9189ff;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    width: 45%;
    text-align: center;
    transition: transform 0.3s ease;
}

.option:hover {
    transform: scale(1.05);
}

.xebiu {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #333;
}

p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
}

button {
    background-color: #3246fc;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b6bbff;
}

@media (max-width: 768px) {
    .menu-options {
        flex-direction: column;
    }

    .option {
        width: 100%;
        margin-bottom: 20px;
    }
}
