/* Configurações básicas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../components/images/fundoprin.png);
    background-size: 100%;
}
/* Contêiner do Formulário */
.container {
    width: 100%;
    max-width: 400px;
    background-color: #404063;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}
.container:hover {
    transform: translateY(-5px);
}
h2 {
    text-align: center;
    color: #1900ff;
    margin-bottom: 20px;
    font-size: 1.8rem;
}
/* Estilização dos Campos */
label {
    display: block;
    margin-top: 15px;
    color: #c2c2c2;
    font-weight: bold;
    font-size: 0.9rem;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #2c2c2c;
    border-radius: 8px;
    font-size: 1rem;
    color: aliceblue;
    transition: all 0.3s ease;
    background-color: #3b3b3b;
}
input:focus, select:focus {
    border-color: #6e8efb;
    outline: none;
    background-color: #515152;
    box-shadow: 0 0 5px rgba(110, 142, 251, 0.5);
}
/* Botão de Submissão */
button {
    width: 100%;
    padding: 12px;
    margin-top: 25px;
    background-color: #6e8efb;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #5a7bdf;
}
