@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


body{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    background-image: url(/components/images/Fale\ conosco.png);
    background-size: 100%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 18px;
    color: rgb(162, 162, 235);
}

a{
    color: rgb(16, 6, 160);
    border-color: rgb(162, 162, 235);
}

a:hover{
    color: rgb(16, 6, 160);
    transition: 0.3s all;
}

#acesso{
    border: 2px solid rgb(16, 6, 160);
    padding: 10px;
    border-radius: 15px;
}

#acesso:hover{
    background-color: rgb(16, 6, 160);
    color: rgb(98, 11, 170);
}

h1{
    font-weight: 200;
    color: rgb(162, 162, 235);
}