body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    background-image: url(../components/images/fundoprin.png);
    background-size: 100%;
}

.form-container {
    background-color: #cacaf3;
    padding: 60px;
    border-radius: 35px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    width: 450px;
    text-align: center;
    transition: transform 0.3s ease;
}

.form-container:hover {
    transform: translateY(-5px);
}

h2 {
    margin-bottom: 30px;
    font-size: xx-large;
    color: #0400ff;
    font-size: 24px;
    font-weight: 700;
}

label {
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
    text-align: left;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #c4bebe;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
    border-color: #0400ff;
    outline: none;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.2);
}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #0051ff, #7598e4, #002fff);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}

@media (max-width: 600px) {
    .form-container {
        width: 100%;
        padding: 30px;
    }

    button {
        font-size: 16px;
    }
}
